<!DOCTYPE html>
<html>
  <head>
    <title>Error Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<table border=1 align="center" width="650px">
			<tr>
				<td colspan="2" align="center"><h3>Node Enabled Gumball Machine</h3></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<%=errorMessage%>
					</td>
			<tr align="center">
				<td colspan=2><br><br><img src="/image/gumball.jpg" height="20%" width="60%"></td>
			</tr>
			
		</table>
  </body>
</html>
