<!DOCTYPE html>
<html>
  <head>
    <title>Error Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
		<table border=1 align="center" width="650px">
			<tr>
				<td colspan="2" align="center" ><h3 style="color:red">Application Error!!!!!</h3></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<%=errorMessage%>
					</td>
				</tr>
				<tr>
				<td colspan="2" align="center">
					<%=error%>
				</td>
				</tr>
		
		</table>
  </body>
</html>
