<!DOCTYPE html>
<html>
  <head>
    <title>Gumball Machine</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>please append /gumball to url to view gumball machine!!!</p>
  </body>
</html>
